
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="banner-bottom-grid">
    <div class="banner-bottom-grids">
        <div class="col-md-12 banner-bottom-grid-fig-grid">

            <h3>Rumeli Anaokulu'na  <span>Hoşgeldiniz</span></h3>
          
            <p>
                <h2> <i>" Kaliteli eğitimin ilk adresi Rumeli Anaokulları. "</i></h2>
                Okulumuz 2014 yılında şuanda hizmet verdiği binada eğitim öğretime başlamıştır. Üç sınıf ile hayatına başlayan okulumuz 4. Eğitim-Öğretim yılında 5.sınıf ile eğitim faaliyetlerine devam etmektedir. 10 kişilik sınıflarımızda bir öğretmen ve bir yardımcı öğretmen görev yapmaktadır.

                Öğrencilerimiz gün içinde kendi sınıflarının yanı sıra toplam 4 çok amaçlı salonda eğitim faaliyetlerine devam etmektedir.
            </p>
        </div>
        
    </div>
    </div>


