@model kullanici
<div class="callout callout-success">
    <table>
        <tr>
            <td rowspan="2" style="width:70px"><img src="~/Content/Resimler/Kullanici/@Model.resim" width="60" /> </td>
            <td> @Model.ad @Model.soyad </td>
        </tr>
        <tr>

            <td> @Model.eposta</td>

        </tr>
    </table>

</div>
