<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>RumeliAnaokulu</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kids School Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/Content/Tema2/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/Tema2/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <link rel="stylesheet" href="/Content/Tema2/css/flexslider.css" type="text/css" media="screen" />
    <script src="/Content/Tema2/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='/Content/Tema2///fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='/Content/Tema2///fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/Content/Tema2/js/move-top.js"></script>
    <script type="text/javascript" src="/Content/Tema2/js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- body -->
    <div class="body-content">
        <div class="container">
            <div class="body-content1">
                <!-- header -->

                <div class="logo-search">


                    <div class="col-lg-10">
                        <div class="logo">
                            <h1>

                                <a href="/RM/Index">
                                    r<span class="color">u</span><span class="color1">m</span><span class="color2">e</span><span class="color1">l</span><span class="color">i</span><span>ANAOKULU</span>
                                    <i>Geleceğe ilk adım...</i>
                                </a>
                            </h1>


                        </div>
                    </div>



                    <div class="col-lg-2">
                        <div class="card-header right">

                            <div class="card-tools">
                                <a href="/Login/Index" class="btn btn-success">
                                    GİRİŞ YAP
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="clearfix"></div>
                <!-- //header -->
                <!-- nav -->
                <div class="navigation">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil" style="font-size:13px" id="bs-example-navbar-collapse-1">
                            <nav class="stroke">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="/RM/Index">Anasayfa</a></li>
                                    <li><a href="/RM/Hakkimizda" class="hvr-rectangle-out">HAKKIMIZDA</a></li>
                                    <li><a href="/RM/Sinif" class="hvr-rectangle-out">SINIFLAR</a></li>
                                    <li><a href="/RM/Etkinliklerimiz" class="hvr-rectangle-out">ETKİNLİKLERİMİZ</a></li>
                                    <li><a href="/RM/Duyurular" class="hvr-rectangle-out">DUYURULAR</a></li>
                                    <li><a href="#İletisim" class="hvr-rectangle-out">İLETİŞİM</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
                <!-- //nav -->
                @RenderBody()
                

            </div>
        </div>
    </div>
    <!-- //body -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <h3>Bizimle İletişim İçin:)</h3>
            <p class="para"
            </p>
            <div class="footer-contact">
                @*<form>
                    <input type="text" placeholder="Enter your email to update" required=" ">
                    <input type="submit" value="">
                </form>*@
            </div>
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <a name="İletisim"></a>
                    <p>
                        Girne Mahallesi, Çiftlik Sokak No:15
                        Maltepe, İstanbul, TÜRKİYE
                       info@rumelianaokulları.com
                    <p>İletişim :+90 2164848080</p>
                </div>
                @*<div class="col-md-3 footer-grid">
                    <ul>
                        <li><a href="mail.html">Contact</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="short-codes.html">Short Codes</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <ul>
                        <li><a href="events.html">News & Events</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="index.html"></a></li>
                    </ul>
                </div>*@
                @*<div class="col-md-3 footer-grid">
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="/Content/Tema2/images/10.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="/Content/Tema2/images/12.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="/Content/Tema2/images/11.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="/Content/Tema2/images/10.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="/Content/Tema2/images/8.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="/Content/Tema2/images/9.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>*@
                <div class="clearfix"> </div>
            </div>
            <div class="footer-copy">
                <p>&copy 2014 Rumeli Anaokulu</p>
                @*<ul>
                    <li><a href="#" class="twitter"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Twitter"></span></a></li>
                    <li><a href="#" class="p"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Pinterest"></span></a></li>
                    <li><a href="#" class="facebook" id="facebook"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Facebook"></span></a></li>
                    <li><a href="#" class="dribble"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Dribbble"></span></a></li>
                    <li><a href="#" class="rss"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On RSS"></span></a></li>
                    <div class="clearfix"> </div>
                </ul>*@
                <script>
					$(function () {
					  $('[data-toggle="tooltip"]').tooltip()
					})
                </script>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
    </script>
    <!-- //here ends scrolling icon -->
    <!-- for bootstrap working -->
    <script src="/Content/Tema2/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
</body>
</html>